{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-3 background-photo" style="background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url({{ MEDIA_URL }}deadlift.jpg);">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">Edit Product</h1>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <form action="{% url 'edit_item' item.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row pt-3">SKU:</div>
            <div class="row">{{ form.sku }}</div>
            <div class="row pt-3">Category:</div>
            <div class="row">{{ form.category }}</div>
            <div class="row pt-3">Item Name:</div>
            <div class="row">{{ form.name }}</div>
            <div class="row pt-3">Summary:</div>
            <div class="row">{{ form.bio }}</div>
            <div class="row pt-3">Cost:</div>
            <div class="row">{{ form.cost }}</div>
            <div class="row pt-3">Review Rating:</div>
            <div class="row">{{ form.reviews }}</div>
            <div class="row pt-3">Image:</div>
            <div class="row">{{ form.image }}</div>
            <button class="btn btn-primary content-width mx-auto" type="submit">Update Item</button>
        </form>
        <div class="row">
            <a class="btn btn-outline-dark flex-shrink-0" href="{% url 'item_info' item.id %}">
                Cancel
            </a>
        </div>
    </div>
</section>

{% endblock %}