{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Product section-->
<section class="pb-1">
    <div class="container px-4 px-lg-5 mb-5 mt-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            {% if item.image %}
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ item.image.url }}" alt="{{ item.name }}" /></div>
            {% else %}
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ MEDIA_URL }}dumbbell.jpg" alt="..." /></div>
            {% endif %}
            <div class="col-md-6">
                <div class="small mb-1 row">SKU: {{ item.sku }}</div>
                <h1 class="display-5 fw-bolder row">{{ item.name }}</h1>
                <div class="fs-5 mb-1 row">£{{ item.cost }}</div>
                <div class="row">
                    <div class="col-1 ps-0 ms-0">
                        {% if user.is_authenticated %}
                        <form action="{% url 'one_star' item.id %}" method="POST">
                            {% csrf_token %}
                            {% if one_star %}
                            <button class="text-dark star-icon"><i class="fas fa-star star-green"></i></button>
                            {% else %}
                            <button class="text-dark star-icon"><i class="far fa-star"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <button class="text-dark star-icon"><i class="far fa-star"></i></button>
                        {% endif %}
                    </div>
                    <div class="col-1 ps-0 ms-0">
                        {% if user.is_authenticated %}
                        <form action="{% url 'two_stars' item.id %}" method="POST">
                            {% csrf_token %}
                            {% if two_stars %}
                            <button class="text-dark star-icon"><i class="fas fa-star star-green"></i></button>
                            {% else %}
                            <button class="text-dark star-icon"><i class="far fa-star"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <button class="text-dark star-icon"><i class="far fa-star"></i></button>
                        {% endif %}
                    </div>
                    <div class="col-1 ps-0 ms-0">
                        {% if user.is_authenticated %}
                        <form action="{% url 'three_stars' item.id %}" method="POST">
                            {% csrf_token %}
                            {% if three_stars %}
                            <button class="text-dark star-icon"><i class="fas fa-star star-green"></i></button>
                            {% else %}
                            <button class="text-dark star-icon"><i class="far fa-star"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <button class="text-dark star-icon"><i class="far fa-star"></i></button>
                        {% endif %}
                    </div>
                    <div class="col-1 ps-0 ms-0">
                        {% if user.is_authenticated %}
                        <form action="{% url 'four_stars' item.id %}" method="POST">
                            {% csrf_token %}
                            {% if four_stars %}
                            <button class="text-dark star-icon"><i class="fas fa-star star-green"></i></button>
                            {% else %}
                            <button class="text-dark star-icon"><i class="far fa-star"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <button class="text-dark star-icon"><i class="far fa-star"></i></button>
                        {% endif %}
                    </div>
                    <div class="col-1 ps-0 ms-0">
                        {% if user.is_authenticated %}
                        <form action="{% url 'five_stars' item.id %}" method="POST">
                            {% csrf_token %}
                            {% if five_stars %}
                            <button class="text-dark star-icon"><i class="fas fa-star star-green"></i></button>
                            {% else %}
                            <button class="text-dark star-icon"><i class="far fa-star"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <button class="text-dark star-icon"><i class="far fa-star"></i></button>
                        {% endif %}
                    </div>
                    <div class="col-4 rating-total ps-3 ms-2">| {{ rating_total }}/5</div>
                </div>
                <p class="lead row pt-2">{{ item.bio }}</p>
                <div class="row">
                    <div class="col-12">
                        <form action="{% url 'add_to_basket1' item.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row pb-4">
                                <h3 class="col-2">Sizes:</h3>
                                <select class="col-2 ms-sm-3 ms-4 content-width" name="item_size">
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m">M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                </select>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="row">
                                <div class="col-3 content-width">
                                    <button class="btn btn-outline-dark flex-shrink-0 row" type="submit"
                                        formaction="{% url 'add_to_wishlist' item.id %}">
                                        Add to wishlist
                                    </button>
                                </div>
                                <div class="col-3 content-width">
                                    <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                        <i class="fas fa-shopping-basket me-1"></i>
                                        Add to basket
                                    </button>
                                </div>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
                {% if user.is_superuser %}
                <div class="row pt-4">
                    <div class="col-3 content-width">
                        <a class="btn btn-info" href="{% url 'edit_item' item.id %}">
                            Edit Product
                        </a>
                    </div>
                    <div class="col-3 content-width">
                        <a class="btn btn-danger" href="{% url 'delete_item' item.id %}">
                            Delete Product
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="pt-2 bg-light">
    <div class="container px-4 px-lg-5 mt-2">
        <div class="row d-flex justify-content-center mb-4">
            <h2 class="fw-bolder text-center">Similar products</h2>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center d-md-none">
            {% for product in similar_items|slice:":2" %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    {% if product.image %}
                    <a href="{% url 'item_info' product.id %}">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                    </a>
                    {% else %}
                    <a href="{% url 'item_info' product.id %}">
                        <img class="card-img-top" src="{{ MEDIA_URL }}dumbbell.jpg" alt="..." />
                    </a>
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product price-->
                            £{{ product.cost }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center d-none d-md-flex d-xl-none">
            {% for product in similar_items|slice:":3" %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    {% if product.image %}
                    <a href="{% url 'item_info' product.id %}">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                    </a>
                    {% else %}
                    <a href="{% url 'item_info' product.id %}">
                        <img class="card-img-top" src="{{ MEDIA_URL }}dumbbell.jpg" alt="..." />
                    </a>
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product price-->
                            £{{ product.cost }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center d-none d-xl-flex">
            {% for product in similar_items|slice:":4" %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    {% if product.image %}
                    <a href="{% url 'item_info' product.id %}">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                    </a>
                    {% else %}
                    <a href="{% url 'item_info' product.id %}">
                        <img class="card-img-top" src="{{ MEDIA_URL }}dumbbell.jpg" alt="..." />
                    </a>
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product price-->
                            £{{ product.cost }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="container mt-3 mb-5 pb-4">
    <div class="card bg-light">
        <div class="card-body">
            <div class="row">
                <div class="col-7 card-body">
                    <h2>Reviews:</h2>
                    {% for review in reviews %}
                    <div class="review-list">
                        <div class="mb-2 ms-1">
                            <div class="row">
                                <p class="fw-bold mb-0">
                                    {{ review.user }}
                                    <span class="text-muted fw-light">
                                        {{ review.review_date }}
                                    </span>
                                </p>
                            </div>
                            <div class="ms-0 row">
                                {{ review.body }}
                            </div>
                        </div>
                        {% if user == review.user %}
                        <a href="{% url 'delete_review' review.id %}" class="btn btn-danger mb-1">Delete Review</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% if reviews.count > 4 %}
                    <div class="row">
                        <button id="load-reviews" class="btn btn-primary content-width mt-2 mx-auto">More
                            Reviews</button>
                    </div>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                <div class="col-12 col-md-5 pe-4 card-body">
                    <div class="mb-4 mt-3">
                        <form method="POST" class="mb-4">
                            {% csrf_token %}
                            <div class="row">
                                <textarea class="form-control ms-0 me-5" name="body" id="50" cols="5" rows="id_body"
                                    placeholder="Leave a review"></textarea>
                            </div>
                            <div class="row">
                                <button type="submit" class="mt-2 mx-auto btn btn-primary">Add Review</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
    <script src="{% static 'items/js/reviews.js' %}"></script>
{% endblock %}