{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="home-background">
    <div class="container">
        <div class="row pt-4 px-4 px-lg-5">
            <div class="col-12 col-md-6 offset-md-6">
                <div class="row newsletter-column">
                    <div class="col-12">
                        <!-- Mailchimp Signup Form -->
                        <h4 class="text-center">Sign up to our newsletter!</h4>
                        <p class="row px-2 mb-0 pb-0">Keep up to date with the latest offers by signing up to our monthly newsletter.</p>
                        <div class="row mt-0 pt-0" id="mc_embed_signup">
                            <form action="https://herokuapp.us20.list-manage.com/subscribe/post?u=178277c8ed92079dbecf44880&amp;id=080b01ba53"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                                novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                        </label>
                                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                            name="b_178277c8ed92079dbecf44880_080b01ba53" tabindex="-1" value=""></div>
                                    <div class="optionalParent">
                                        <div class="clear foot">
                                            <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button text-black bg-info">
                                            <p class="brandingLogo"><a href="http://eepurl.com/hR9_e1"
                                                    title="Mailchimp - email marketing made easy and fun"><img
                                                        src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" rel="sponsored"></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Button for viewing clothing -->
                <div class="row pt-4 d-flex justify-content-center">
                    <a class="btn btn-primary content-width" href="{% url 'all_items' %}">View Clothing</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript' src="{% static 'home/js/home.js' %}"></script>
{% endblock %}
