{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <h1>Wishlist</h1>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in wishlist_items %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ product.item.image.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.item.name }}</h5>
                            <!-- Product price-->
                            <p>{{ product.item.cost }}</p>
                            <p>{{ product.size }}</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <form class="d-flex" action="{% url 'add_to_basket' product.item_id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="item_size" value="{{ product.size }}">
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to basket
                        </button>
                    </form>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'item_info' product.item.id %}">View item</a></div>
                    </div>
                    <form class="d-flex" action="{% url 'delete_wishlist_item' product.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            Delete
                        </button>
                        <input type="hidden" name="size_id" value="{{ product.size }}">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}