{% extends "base.html" %}
{% load static %}

{% block content %}

<header class="bg-dark py-3 background-photo" style="background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url({{ MEDIA_URL }}deadlift.jpg);">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">Checkout</h1>
        </div>
    </div>
</header>

<section class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="row">
                {% for product in basket_items %}
                <div class="row py-2">
                    <div class="col-4"><img class="card-img-top mb-5 mb-md-0" src="{{ product.item.image.url }}" alt="..." /></div>
                    <div class="col-8">
                        <div class="small mb-1 row">SKU: {{ product.item.sku }}</div>
                        <h2 class="display-5 fw-bolder row">{{ product.item.name }}</h2>
                        <h5>£{{ product.item.cost }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset>
                    <legend>User Information</legend>
                    <h6>Full Name</h6>
                    {{ order_form.full_name }}
                    <h6>Phone Number</h6>
                    {{ order_form.telephone }}
                    <h6>Email</h6>
                    {{ order_form.email }}
                </fieldset>
                <fieldset>
                    <legend>Postal Address</legend>
                    <h6>Address Line 1</h6>
                    {{ order_form.address_line1 }}
                    <h6>Address Line 2</h6>
                    {{ order_form.address_line2 }}
                    <h6>City</h6>
                    {{ order_form.city }}
                    <h6>County</h6>
                    {{ order_form.county }}
                    <h6>Country</h6>
                    {{ order_form.country }}
                    <h6>Postcode</h6>
                    {{ order_form.postcode }}
                </fieldset>
                <fieldset>
                    <legend>Card Details</legend>
                    <div id="card-element"></div>
                    <input type="hidden" name="client_secret" value="{{ client_secret }}">
                </fieldset>
                <button class="btn btn-outline-dark flex-shrink-0 my-3" type="submit" id="submit-button">
                    Complete Payment
                </button>
            </form>
        </div>
    </div>
</section>
<div id="loading-background">
    <div class="loading-circle">
        <i class="fa-2x fas fa-circle-notch fa-spin"></i>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ client_secret|json_script:"var_client_secret" }}
    {{ stripe_public_key|json_script:"var_stripe_public_key" }}
    <script src="{% static 'checkout/js/stripe.js' %}"></script>

{% endblock %}