{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container">
    <div class="row">
        <h1>Hello there</h1>
        <h2>{{ order.order_number }}</h2>
        <h2>{{ order.full_name }}</h2>
        <h2>{{ order.date }}</h2>
        <h2>{{ order.order_cost }}</h2>
        <h2>{{ order.email }}</h2>
        <h2>{{ order.telephone }}</h2>
        <h2>{{ order.address_line1 }}</h2>
        <h2>{{ order.address_line2 }}</h2>
        <h2>{{ order.city }}</h2>
        <h2>{{ order.county }}</h2>
        <h2>{{ order.country }}</h2>
        <h2>{{ order.postcode }}</h2>
        <h2>{{ order.customer_name.id }}</h2>
        <h2>12321312321</h2>
    </div>
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'orders' order.customer_name.id %}">View orders</a></div>
    </div>
</section>

{% endblock %}