{% extends "base.html" %}
{% load static %}

{% block content %}

<header class="bg-dark py-3 background-photo" style="background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url({{ MEDIA_URL }}deadlift.jpg);">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">My Orders</h1>
        </div>
    </div>
</header>

<section class="container pb-5">
    <div class="row">
        {% for order in orders %}
        <div class="col-md-10 offset-md-1 order-list">
            <div class="row">
                <div class="col-2">
                    <div class="small mb-1">Date Ordered: {{ order.date }}</div>
                </div>
                <div class="col-2">
                    <div class="small mb-1">Order Number: {{ order.order_number }}</div>
                </div>
                <div class="col-2">
                    <span>£{{ order.order_cost }}</span>
                </div>
                <div class="col-2">
                    {% for item in order.orderitems.all %}
                        <p>{{ item.item.name }}-{{ item.item_size }}-£{{ item.item_cost }}</p>
                    {% endfor %}
                </div>
                <div class="col-2">
                    <span>{{ order.email }}</span>
                </div>
                <a class="btn btn-outline-dark flex-shrink-0 col-2" href="{% url 'order_summary' order.order_number %}">
                    View Order
                </a>
            </div>
        </div>
        {% endfor %}
        {% if orders|length > 4 %}
        <div class="row">
            <button id="load-orders" class="btn btn-primary content-width mt-2 mx-auto">More
                Orders</button>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}

{% block postloadjs %}
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}