{% extends "base.html" %}
{% load static %}

{% block content %}

<header class="bg-dark py-3 background-photo" style="background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url({{ MEDIA_URL }}deadlift.jpg);">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">Order Summary</h1>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-8">
                {% for product in order_items %}
                <div class="row py-2">
                    <div class="col-4"><img class="card-img-top mb-5 mb-md-0" src="{{ product.item.image.url }}" alt="..." /></div>
                    <div class="col-8">
                        <div class="small mb-1 row">SKU: {{ product.item.sku }}</div>
                        <h2 class="display-5 fw-bolder row">{{ product.item.name }}</h2>
                        <h5>£{{ product.item_cost }}</h5>
                        <h5>{{ product.item_size }}</h5>
                        <h5>{{ product.quantity }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-4">
                {% for x in order %}
                <div class="row">
                    <h1>Total cost:</h1>
                    <h4>£{{ x.order_cost }}</h4>
                    <h6>Full Name</h6>
                    <h4>{{ x.full_name }}</h4>
                    <h6>Date</h6>
                    <h4>{{ x.date }}</h4>
                    <h6>Email</h6>
                    <h4>{{ x.email }}</h4>
                    <h6>Phone Number</h6>
                    <h4>{{ x.telephone }}</h4>
                    <h6>Address Line 1</h6>
                    <h4>{{ x.address_line1 }}</h4>
                    <h6>Address Line 4</h6>
                    <h4>{{ x.address_line2 }}</h4>
                    <h6>City</h6>
                    <h4>{{ x.city }}</h4>
                    <h6>County</h6>
                    <h4>{{ x.county }}</h4>
                    <h6>Country</h6>
                    <h4>{{ x.country }}</h4>
                    <h6>Postcode</h6>
                    <h4>{{ x.postcode }}</h4>
                </div>
                {% endfor %}
                <div class="row">
                    <a class="btn btn-outline-dark flex-shrink-0" href="{% url 'orders' user_id %}">
                        Back to Orders
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}